<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
</head>
<body>
<ul id="messages"></ul>
<form action="">
    <select id="t">
        <option value="login">Login</option>
        <option value="create-room">Create Room</option>
        <option value="join-room">Join Room</option>
        <option value="ready">Ready</option>
        <option value="fight">Fight</option>
    </select>
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    $('form').submit(function () {
        socket.emit($('#t').val(), $('#m').val());
        $('#t').val('');
        $('#m').val('');
        return false;
    });

    socket.on('room-joined', function (room) {
        console.log('room-joined:');
        console.log(room)
    });

    socket.on('room-created', function (room) {
        console.log('room-created:');
        console.log(room)
    });
    socket.on('player-ready', function (player) {
        console.log('player-ready');
        console.log(player)
    });
    socket.on('fight-start', function () {
        console.log('fight-start');
    });
    socket.on('errors', function (msg) {
        console.error("error: " + msg);
    });
</script>
</body>
</html>